@page "/counter"

<p>Current count: @currentCount</p>

<button class="btn btn-primary"
        @onclick="IncrementCount">
    Click me Azure1
</button>

<button class="btn btn-primary"
        @onclick="IncrementCountJavacript">
    Click me Javascript Azure
</button>